
<div class="my-list-container">
  <div class="d-flex mt-5 mb-3 flex-wrap justify-content-around">
    <% @lists.each do |list| %>
      <div class="card grid-item">
        <img class="card-image" src ="https://img.freepik.com/vecteurs-libre/illustration-concept-abstrait-programme-scolaire-programme-enseignement-domicile-matieres-scolaires-maternelle-12e-annee-education-plan-enseignement-apercu-du-programme-contenu-cours-academiques_335657-3490.jpg?t=st=1730212323~exp=1730215923~hmac=bca7d30a803136676958d19761d702ef0baf253ec6945f1033f1282ad223be1c&w=1380" >
        <a class="text-decoration-none"> <%= link_to "#{list.name}", list_path(list) %></a>
      </div>
    <% end %>
  </div>
  <div class="m-4">
  <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary" %>
  </div>
  <br>
</div>
