<h1> My lists </h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to "#{list.name}", list_path(list) %>
    </li>
  <% end %>
</ul>

<%= cl_image_tag("vsmmsdjly9fkiihf2nx0",
      width: 400, height: 300, crop: :fill) %>

<%= link_to "Add a new list", new_list_path %>
